In [7]:
import pandas as pd
import ast 
import os

In [8]:
df_dev = pd.read_parquet("/Users/Rex/vscode/ai_llm_optimization/data/dev-00000-of-00001 (2).parquet")
df_test = pd.read_parquet("/Users/Rex/vscode/ai_llm_optimization/data/test-00000-of-00001 (1).parquet")
df_val = pd.read_parquet("/Users/Rex/vscode/ai_llm_optimization/data/validation-00000-of-00001 (1).parquet")
df_aux = pd.read_parquet("/Users/Rex/vscode/ai_llm_optimization/data/auxiliary_train-00000-of-00001.parquet")

In [3]:
df_dev.head(25)

,question,subject,choices,answer
0,Find all c in Z_3 such that Z_3[x]/(x^2 + c) i...,abstract_algebra,"[0, 1, 2, 3]",1
1,Statement 1 | If aH is an element of a factor ...,abstract_algebra,"[True, True, False, False, True, False, False,...",1
2,Statement 1 | Every element of a group generat...,abstract_algebra,"[True, True, False, False, True, False, False,...",2
3,Statement 1| Every function from a finite set ...,abstract_algebra,"[True, True, False, False, True, False, False,...",0
4,Find the characteristic of the ring 2Z.,abstract_algebra,"[0, 3, 12, 30]",0
5,What is the embryological origin of the hyoid ...,anatomy,"[The first pharyngeal arch, The first and seco...",3
6,Which of these branches of the trigeminal nerv...,anatomy,"[The supraorbital nerve, The infraorbital nerv...",3
7,The pleura,anatomy,"[have no sensory innervation., are separated b...",2
8,In Angle's Class II Div 2 occlusion there is,anatomy,[excess overbite of the upper lateral incisors...,2
9,Which of the following is the body cavity that...,anatomy,"[Abdominal, Cranial, Pleural, Spinal]",1
10,You are pushing a truck along a road. Would it...,astronomy,[It would be harder since the truck is heavier...,3
11,Where do most short-period comets come from an...,astronomy,[The Kuiper belt; short period comets tend to ...,0
12,Say the pupil of your eye has a diameter of 5 ...,astronomy,"[10000 times more, 100 times more, 1000 times ...",0
13,Why isn't there a planet where the asteroid be...,astronomy,[A planet once formed here but it was broken a...,3
14,Why is Mars red?,astronomy,[Because the surface is covered with heavily o...,0
15,Beyond the business case for engaging in CSR t...,business_ethics,"[Externalities, Power, Independence, Publicity...",3
16,_______ is the direct attempt to formally or i...,business_ethics,"[Corporate social responsibility, Business eth...",1
17,To ensure the independence of the non-executiv...,business_ethics,"[Outside, Limited, Independently, Inside, Limi...",0
18,Three contrasting tactics that CSO's can engag...,business_ethics,"[Non-violent direct action, Violent direct act...",2
19,"In contrast to _______, _______ aim to reward ...",business_ethics,"[Buycotts, Boycotts, Blockchain technology, Ch...",3
20,The energy for all forms of muscle contraction...,clinical_knowledge,"[ATP., ADP., phosphocreatine., oxidative phosp...",0
21,What is the difference between a male and a fe...,clinical_knowledge,[Male and female catheters are different colou...,1
22,In the assessment of the hand function which o...,clinical_knowledge,[Abduction of the thumb is supplied by spinal ...,1
23,How many attempts should you make to cannulate...,clinical_knowledge,"[4, 3, 2, 1]",2
24,Glycolysis is the name given to the pathway in...,clinical_knowledge,"[glycogen to glucose-1-phosphate., glycogen or...",2

In [4]:
len(df_dev)

285

In [5]:
import pandas as pd
import numpy as np
import ast

# Count items per row
df_dev['count'] = df_dev['choices'].apply(
    lambda x: len(x) if isinstance(x, (list, np.ndarray))
    else len(ast.literal_eval(x)) if isinstance(x, str) and x.strip() != "" else 0
)

# Show the counts per row
print(df_dev[['choices', 'count']])

# Show the overall frequency of each distinct count
count_summary = df_dev['count'].value_counts().sort_index()
print("\nOverall count summary:")
print(count_summary)

                                               choices  count
0                                         [0, 1, 2, 3]      4
1    [True, True, False, False, True, False, False,...      4
2    [True, True, False, False, True, False, False,...      4
3    [True, True, False, False, True, False, False,...      4
4                                       [0, 3, 12, 30]      4
..                                                 ...    ...
280    [The rainbow, Circumcision, A son, Bar mitzvah]      4
281  [The Dharma, The Sangha, The Buddha, The Bodhi...      4
282                            [Shang, Zhou, Han, Xia]      4
283                   [Honen, Tanaka, Tokugawa, Meiji]      4
284  [Ritual texts, Philosophical texts, Hymns, Ori...      4

[285 rows x 2 columns]

Overall count summary:
count
4    285
Name: count, dtype: int64

In [26]:
count1 = df_dev['answer'].value_counts()
print(count1)

answer
3    78
2    71
1    69
0    67
Name: count, dtype: int64

In [29]:
df_test.head()

,question,subject,choices,answer
0,Find the degree for the given field extension ...,abstract_algebra,"[0, 4, 2, 6]",1
1,"Let p = (1, 2, 5, 4)(2, 3) in S_5 . Find the i...",abstract_algebra,"[8, 2, 24, 120]",2
2,Find all zeros in the indicated finite field o...,abstract_algebra,"[0, 1, 0,1, 0,4]",3
3,Statement 1 | A factor group of a non-Abelian ...,abstract_algebra,"[True, True, False, False, True, False, False,...",1
4,Find the product of the given polynomials in t...,abstract_algebra,"[2x^2 + 5, 6x^2 + 4x + 6, 0, x^2 + 1]",1

In [30]:
count2 = df_test['answer'].value_counts()
print(count2)

answer
3    3776
2    3582
1    3462
0    3222
Name: count, dtype: int64

In [31]:
len(df_test['choices'])

14042

In [32]:
# Count items per row
df_test['count'] = df_test['choices'].apply(
    lambda x: len(x) if isinstance(x, (list, np.ndarray))
    else len(ast.literal_eval(x)) if isinstance(x, str) and x.strip() != "" else 0
)

# Show the counts per row
print(df_test[['choices', 'count']])

# Show the overall frequency of each distinct count
count_summary = df_test['count'].value_counts().sort_index()
print("\nOverall count summary:")
print(count_summary)

                                                 choices  count
0                                           [0, 4, 2, 6]      4
1                                        [8, 2, 24, 120]      4
2                                       [0, 1, 0,1, 0,4]      4
3      [True, True, False, False, True, False, False,...      4
4                  [2x^2 + 5, 6x^2 + 4x + 6, 0, x^2 + 1]      4
...                                                  ...    ...
14037  [Peace and harmony, Power and influence, Truth...      4
14038  [The Buddha, Laozi, The Queen Mother of the We...      4
14039  [of a similar substance, of the same substance...      4
14040                       [Es, Izanagi, Izanami, Kami]      4
14041  [Divine power, Sexual virility, Military acume...      4

[14042 rows x 2 columns]

Overall count summary:
count
4    14042
Name: count, dtype: int64

In [54]:
# Rearrange and drop subject
df_test_cleaned = df_val[['question', 'choices', 'answer']]

In [55]:
df_test_cleaned.head()

,question,choices,answer
0,The cyclic subgroup of Z_24 generated by 18 ha...,"[4, 8, 12, 6]",0
1,Find the order of the factor group Z_6/<3>.,"[2, 3, 6, 12]",1
2,Statement 1 | A permutation that is a product ...,"[True, True, False, False, True, False, False,...",0
3,Find the order of the factor group (Z_4 x Z_12...,"[2, 3, 4, 12]",2
4,Find the maximum possible order for some eleme...,"[4, 6, 12, 24]",2

In [56]:
df_test_cleaned.to_parquet("/Users/Rex/vscode/ai_llm_optimization/data/clean/df_test_cleaned.parquet", index=False)

In [9]:
df_val.head()

,question,subject,choices,answer
0,The cyclic subgroup of Z_24 generated by 18 ha...,abstract_algebra,"[4, 8, 12, 6]",0
1,Find the order of the factor group Z_6/<3>.,abstract_algebra,"[2, 3, 6, 12]",1
2,Statement 1 | A permutation that is a product ...,abstract_algebra,"[True, True, False, False, True, False, False,...",0
3,Find the order of the factor group (Z_4 x Z_12...,abstract_algebra,"[2, 3, 4, 12]",2
4,Find the maximum possible order for some eleme...,abstract_algebra,"[4, 6, 12, 24]",2

In [10]:
count3 = df_val['answer'].value_counts()
print(count3)

answer
2    387
3    384
0    381
1    379
Name: count, dtype: int64

In [11]:
len(df_val)

1531

In [12]:
# Count items per row
df_val['count'] = df_val['choices'].apply(
    lambda x: len(x) if isinstance(x, (list, np.ndarray))
    else len(ast.literal_eval(x)) if isinstance(x, str) and x.strip() != "" else 0
)

# Show the counts per row
print(df_val[['choices', 'count']])

# Show the overall frequency of each distinct count
count_summary = df_val['count'].value_counts().sort_index()
print("\nOverall count summary:")
print(count_summary)

                                                choices  count
0                                         [4, 8, 12, 6]      4
1                                         [2, 3, 6, 12]      4
2     [True, True, False, False, True, False, False,...      4
3                                         [2, 3, 4, 12]      4
4                                        [4, 6, 12, 24]      4
...                                                 ...    ...
1526  [Non-action, Contemplation, Meditation, Intent...      4
1527  [Guru Angad, His son, Guru Gobind Singh, Guru ...      4
1528  ["Enlightened leader", "Great soul", "Enlighte...      4
1529  [The Exodus, The Covenant, The Ten Commandment...      4
1530           [Sadducees, Pharisees, Essenes, Zealots]      4

[1531 rows x 2 columns]

Overall count summary:
count
4    1531
Name: count, dtype: int64

In [13]:
# Rearrange and drop subject
df_val_cleaned = df_val[['question', 'choices', 'answer']]

In [14]:
df_val_cleaned.head()

,question,choices,answer
0,The cyclic subgroup of Z_24 generated by 18 ha...,"[4, 8, 12, 6]",0
1,Find the order of the factor group Z_6/<3>.,"[2, 3, 6, 12]",1
2,Statement 1 | A permutation that is a product ...,"[True, True, False, False, True, False, False,...",0
3,Find the order of the factor group (Z_4 x Z_12...,"[2, 3, 4, 12]",2
4,Find the maximum possible order for some eleme...,"[4, 6, 12, 24]",2

In [15]:
counts = df_val_cleaned['answer'].value_counts()
print(counts)

answer
2    387
3    384
0    381
1    379
Name: count, dtype: int64

In [53]:
df_val_cleaned.to_parquet("/Users/Rex/vscode/ai_llm_optimization/data/clean/df_val_cleaned.parquet", index=False)

In [37]:
df_aux.head()

,answer,choices,question,subject
0,1,"[Adams only., Brooks only., Case only., Adams ...",Davis decided to kill Adams. He set out for Ad...,
1,3,"[guilty, because this is a public welfare offe...",A state statute requires any person licensed t...,
2,2,"[Yes, because Mann threatened to use deadly fo...","Lender met Borrower on the street, demanded th...",
3,1,[must permit Don to answer if he had objected ...,Peter sued Don for breach of contract. The cou...,
4,2,[partial breach of contract only if Ames had p...,Ames had painted Bell's house under a contract...,

In [38]:
count3 = df_aux['answer'].value_counts()
print(count3)

answer
2    26850
1    25717
3    25091
0    22184
Name: count, dtype: int64

In [39]:
len(df_aux)

99842

In [40]:
# Count items per row
df_aux['count'] = df_aux['choices'].apply(
    lambda x: len(x) if isinstance(x, (list, np.ndarray))
    else len(ast.literal_eval(x)) if isinstance(x, str) and x.strip() != "" else 0
)

# Show the counts per row
print(df_aux[['choices', 'count']])

# Show the overall frequency of each distinct count
count_summary = df_aux['count'].value_counts().sort_index()
print("\nOverall count summary:")
print(count_summary)

                                                 choices  count
0      [Adams only., Brooks only., Case only., Adams ...      4
1      [guilty, because this is a public welfare offe...      4
2      [Yes, because Mann threatened to use deadly fo...      4
3      [must permit Don to answer if he had objected ...      4
4      [partial breach of contract only if Ames had p...      4
...                                                  ...    ...
99837        [skyscrapers, the stock market, air, water]      4
99838                 [Brewer's yeast, air, sand, sugar]      4
99839  [the praying mantis, the antelope, the butterf...      4
99840  [organisms they hunt, computer, groceries, seven]      4
99841   [a ruler, a compass, a calculator, a protractor]      4

[99842 rows x 2 columns]

Overall count summary:
count
4    99842
Name: count, dtype: int64

In [45]:
# Rearrange and drop subject
df_aux_cleaned = df_aux[['question', 'choices', 'answer']]

df_aux.head()

,question,choices,answer
0,Davis decided to kill Adams. He set out for Ad...,"[Adams only., Brooks only., Case only., Adams ...",1
1,A state statute requires any person licensed t...,"[guilty, because this is a public welfare offe...",3
2,"Lender met Borrower on the street, demanded th...","[Yes, because Mann threatened to use deadly fo...",2
3,Peter sued Don for breach of contract. The cou...,[must permit Don to answer if he had objected ...,1
4,Ames had painted Bell's house under a contract...,[partial breach of contract only if Ames had p...,2

In [47]:
df_aux_cleaned.columns

Index(['question', 'choices', 'answer'], dtype='object')

In [48]:
df_aux_cleaned.to_parquet("/Users/Rex/vscode/ai_llm_optimization/data/clean/df_aux_cleaned.parquet", index=False)